<div class="irs-header-topped" ng-controller="LoginController as vm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 irs-padl-zero irs-pl-fftn">
                        <div class="irs-welcm-ht">
                            <p class="irs-welcntxt"><i class="fa fa-phone"></i><span translate="login.anyQuestions"></span>&nbsp;<span translate="login.callUs"></span> <strong><span translate="shared.phone"></span></strong> </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="irs-welcm-ht">
                            <p class="irs-welcntxt"><i class="fa fa-map-marker">&nbsp;</i><span translate="shared.address"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 clearfix">
                <div class="irs-log-reg">
                    <ul class="list-inline" ng-show="isLogin()==false">
                        <li>
                            <a href="#"><div ng-click="ShowModalLogin(true)" translate="login.login"></div></a>
                            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" login-modal="showModal" data-backdrop="static">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="ShowModalLogin(false)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title text-center" id="exampleModalLabel" translate="login.loginOrRegister"></h4>
                                            <p class="irs-sign-reg-para text-center" translate="login.description"></p>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form class="irs-login-form">
                                                        <h3 translate="login.login"> <span class="flaticon-padlock"></span></h3>
                                                        <p translate="login.loginTitle"></p>
                                                        <div class="form-group">
                                                            <input type="text" ng-model="userName" class="form-control" id="email" placeholder="{{'login.userName'|translate}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" ng-model="password" class="form-control" placeholder="{{'login.password'|translate}}">
                                                        </div>
                                                        <input type="button" class="btn btn-default irs-button-styledark" value="{{'login.btnLogin'|translate}}" ng-click="Login()" />
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <form class="irs-reg-form">
                                                        <h3 translate="login.register"><span class="flaticon-key"></span></h3>
                                                        <p translate="login.registerTitle"></p>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="exampleInputNamex" placeholder="{{'login.firstName'|translate}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="exampleInputNamexx" placeholder="{{'login.lastName'|translate}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" id="exampleInputEmailx" placeholder="{{'login.email'|translate}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" placeholder="{{'login.password'|translate}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" placeholder="{{'login.rePassword'|translate}}">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <input type="button" class="btn btn-default irs-button-styledark" value="{{'login.btnRegister'|translate}}" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"></a></li>
                        <li><span class="lang-sm lang-lbl-en" lang="en" ng-click="changeLanguage('en')"></span></li>
                        <li><span class="lang-sm lang-lbl" lang="th" ng-click="changeLanguage('th')"></span></li>
                    </ul>
                    <ul class="list-inline" ng-show="isLogin()==true">
                        <li>
                            <div class="dropdown">
                                <button class="account-button-label" type="button" data-toggle="dropdown">
                                    <span translate="login.loginAs"></span> &nbsp;&nbsp;{{userProfile.firstName}} {{userProfile.lastName}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" ui-sref="settings">You profile</a></li>
                                    <li><a href="#" ui-sref="settings.courses">Create course</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="#">Sign out</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><span class="lang-sm lang-lbl-en" lang="en" ng-click="changeLanguage('en')"></span></li>
                        <li><span class="lang-sm lang-lbl" lang="th" ng-click="changeLanguage('th')"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>