@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="preloader"></div>
    <div class="irs-header-topped">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 irs-padl-zero irs-pl-fftn">
                            <div class="irs-welcm-ht">
                                <p class="irs-welcntxt"><i class="fa fa-phone"></i> Any questions? Call us <strong> (012) 345 - 6789</strong> </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="irs-welcm-ht">
                                <p class="irs-welcntxt"><i class="fa fa-map-marker"></i> 4003 Coplin Phoenix, AZ 85040</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 clearfix">
                    <div class="irs-log-reg">
                        <ul class="list-inline">
                            <li>
                                <a href="#"><div data-toggle="modal" data-target=".bs-example-modal-lg">Login</div></a>
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title text-center" id="exampleModalLabel">Login or Register</h4>
                                                <p class="irs-sign-reg-para text-center">Sign in or register today in oorder to have access to all our courses or purchase new ones.</p>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <form class="irs-login-form">
                                                            <h3>Login <span class="flaticon-padlock"></span></h3>
                                                            <p>Enter username and password to login:</p>
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" id="email" placeholder="Email">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Password">
                                                            </div>
                                                            <button type="submit" class="btn btn-default irs-button-styledark">Login to account</button>
                                                        </form>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <form class="irs-reg-form">
                                                            <h3>Register <span class="flaticon-key"></span></h3>
                                                            <p>Join our community today:</p>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="exampleInputNamex" placeholder="First Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="exampleInputNamexx" placeholder="Last Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" id="exampleInputEmailx" placeholder="Email">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Password">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Repeat password">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <button type="submit" class="btn btn-default irs-button-styledark">Sign Me Up</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- modal footer start here-->
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#">.</a></li>
                            <li class="irs-reg"><a href="#">Register</a></li>
                            <li class="irs-search">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>
                                <!-- /input-group -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Styles -->
    <div class="header-nav">
        <div class="main-header-nav scrollingto-fixed irs-menu-style-one">
            <div class="container">
                <nav class="navbar navbar-default bootsnav irs-menu-style-one yellow">
                    <div class="container irs-pad-zero">
                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
                            <a class="navbar-brand" ui-sref="app"><img src="~/Content/images/header-logo.png" class="logo" alt="header-logo.png"></a>
                        </div>
                        <!-- End Header Navigation -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-center">
                                <li><a ui-sref="app">Home</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Vision And Mission</a>
                                        <li><a href="#">Core Value</a>
                                        <li><a href="#">Ethics</a>
                                        <li><a href="#">Departments</a>
                                    </ul>
                                </li>
                                <li><a href="#" ui-sref="course-list">Courses</a></li>
                                @*<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Announcement</a></li>
                                        <li><a href="#">Activities</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Photo gallery</a></li>
                                    </ul>
                                </li>*@
                                <li><a href="#" ui-sref="research-list">Research</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Peoples</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Student Life</a></li>
                                        <li><a href="#" ui-sref="teacher-list">Teacher List</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"> <a href="#" ui-sref="contact">Contact</a></li>
                                <li><a href="#" ui-sref="settings">Settings</a></li>
                                @*<li><a href="#">FAQS</a></li>*@
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Services Section -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

    <!-- Content Section -->
    <div ui-view></div>

    <!-- Footer Section -->
    <section class="irs-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 irs-padl-zero irs-pl-fftn">
                    <div class="irs-footer-social-icon">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-offset-1">
                    <div class="irs-footer-contact-info">
                        <h2><span class="irs-fci-icon flaticon-phone-receiver"></span> (012) 345 - 6789</h2>
                        <h5>Any Questions? Call Us. </h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="irs-footer-location-info">
                        <h2><span class="irs-fci-icon flaticon-facebook-placeholder-for-locate-places-on-maps"></span> (012) 345 - 6789</h2>
                        <h5>Any Questions? Call Us. </h5>
                    </div>
                </div>
            </div>
            <div class="row irs-mrgnt-two">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 irs-padl-zero irs-pl-fftn">
                    <div class="irs-footer-useful-link">
                        <h4 class="irs-mrgnbot-fourty">Useful Links</h4>
                        <ul class="irs-list-square">
                            <li><a href="#">Become a Teacher</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Our Blog</a></li>
                            <li><a href="#">Our Events</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 irs-padl-zero irs-pl-fftn">
                    <div class="irs-footer-latest-course">
                        <h4 class="irs-mrgnbot-fourty irs-pl-fftn">Latest Courses Added</h4>
                        <div class="media irs-fln-media-one irs-mrgnbot-fourty">
                            <div class="media-left pull-left"> <a href="#"> <img class="media-object" src="../../../Content/images/courses/s1.png" alt="s1.png"> </a> </div>
                            <div class="media-body">
                                <h4 class="media-heading irs-flc-ttl"><a href="#">Classical Archaeology and Ancient History</a></h4>
                                <div class="irs-flnws-price">$35.99</div>
                            </div>
                        </div>
                        <div class="media irs-fln-media-two irs-mrgnbot-fourty">
                            <div class="media-left pull-left"> <a href="#"> <img class="media-object" src="../../../Content/images/courses/s2.png" alt="s2.png"> </a> </div>
                            <div class="media-body">
                                <h4 class="media-heading irs-flc-ttl"><a href="#">Philosophy, Politics and Economics (PPE)</a></h4>
                                <div class="irs-flnws-price">Free</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 irs-padl-zero irs-pl-fftn">
                    <div class="row">
                        <div class="irs-footer-gallery">
                            <h4 class="irs-mrgnbot-fourty">Latest Courses Added</h4>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg1.png" alt="fg1.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg2.png" alt="fg2.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg3.png" alt="fg3.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg4.png" alt="fg4.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg5.png" alt="fg5.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg6.png" alt="fg6.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg7.png" alt="fg7.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg8.png" alt="fg8.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our CopyRight Section -->
    <section class="irs-copy-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Irstheme Copyright© 2017 All Rights Received. Designed with <i class="fa fa-heart"></i> <span class="text-thm2">diadea3007</span></p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Wrapper End -->
@Scripts.Render("~/theme/js")