@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="preloader"></div>
    <!-- Login -->
    <ng-include src="'Scripts/app/login/view/login.html'"></ng-include>

    <!-- Navigate -->
    <ng-include src="'Scripts/app/menu/view/nav.html'"></ng-include>

    <!-- Services Section -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

    <!-- Content Section -->
    <div ui-view></div>

    <!-- Footer Section -->
    <section class="irs-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 irs-padl-zero irs-pl-fftn">
                    <div class="irs-footer-social-icon">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-offset-1">
                    <div class="irs-footer-contact-info">
                        <h2><span class="irs-fci-icon flaticon-phone-receiver"></span> (012) 345 - 6789</h2>
                        <h5>Any Questions? Call Us. </h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="irs-footer-location-info">
                        <h2><span class="irs-fci-icon flaticon-facebook-placeholder-for-locate-places-on-maps"></span> (012) 345 - 6789</h2>
                        <h5>Any Questions? Call Us. </h5>
                    </div>
                </div>
            </div>
            <div class="row irs-mrgnt-two">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 irs-padl-zero irs-pl-fftn">
                    <div class="irs-footer-useful-link">
                        <h4 class="irs-mrgnbot-fourty">Useful Links</h4>
                        <ul class="irs-list-square">
                            <li><a href="#">Become a Teacher</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Our Blog</a></li>
                            <li><a href="#">Our Events</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 irs-padl-zero irs-pl-fftn">
                    <div class="irs-footer-latest-course">
                        <h4 class="irs-mrgnbot-fourty irs-pl-fftn">Latest Courses Added</h4>
                        <div class="media irs-fln-media-one irs-mrgnbot-fourty">
                            <div class="media-left pull-left"> <a href="#"> <img class="media-object" src="../../../Content/images/courses/s1.png" alt="s1.png"> </a> </div>
                            <div class="media-body">
                                <h4 class="media-heading irs-flc-ttl"><a href="#">Classical Archaeology and Ancient History</a></h4>
                                <div class="irs-flnws-price">$35.99</div>
                            </div>
                        </div>
                        <div class="media irs-fln-media-two irs-mrgnbot-fourty">
                            <div class="media-left pull-left"> <a href="#"> <img class="media-object" src="../../../Content/images/courses/s2.png" alt="s2.png"> </a> </div>
                            <div class="media-body">
                                <h4 class="media-heading irs-flc-ttl"><a href="#">Philosophy, Politics and Economics (PPE)</a></h4>
                                <div class="irs-flnws-price">Free</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 irs-padl-zero irs-pl-fftn">
                    <div class="row">
                        <div class="irs-footer-gallery">
                            <h4 class="irs-mrgnbot-fourty">Latest Courses Added</h4>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg1.png" alt="fg1.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg2.png" alt="fg2.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg3.png" alt="fg3.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg4.png" alt="fg4.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg5.png" alt="fg5.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg6.png" alt="fg6.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg7.png" alt="fg7.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 irs-padl-zero irs-pl-fftn">
                                <div class="irs-footer-gallery-thumb">
                                    <img class="img-responsive img-fluid" src="../../../Content/images/gallery/fg8.png" alt="fg8.png">
                                    <div class="irs-fg-overlay"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our CopyRight Section -->
    <section class="irs-copy-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Irstheme Copyright© 2017 All Rights Received. Designed with <i class="fa fa-heart"></i> <span class="text-thm2">diadea3007</span></p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Wrapper End -->
@Scripts.Render("~/theme/js")