<div class="WordSection1">

                    <p class="MsoNormal" style="margin-top:6.0pt;line-height:15.0pt"><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">Applicant requirements:</span></p>

                    <p class="MsoNormal" style="text-indent:.5in">
                        <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            Thai
                            citizenship age 17 or over
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:20.0pt"><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt"><b><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">Group 1 Thai high schools</span></b></p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt">
                        <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            - GPA from M.4 to M.6 with a minimum
                            of 3.00
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:38.0pt">
                        <span lang="TH" style="font-family:
&quot;Angsana New&quot;,&quot;serif&quot;">-</span><b>
                            <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                                IELTS
                                UKVI
                            </span>
                        </b><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            with a total
                            score of no less than 7.0 and no less than 6.5 for each module
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:38.0pt">
                        <span lang="TH" style="font-family:
&quot;Angsana New&quot;,&quot;serif&quot;">-</span><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            Biomedical
                            Admissions Test (BMAT) score
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt"><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt">
                        <b>
                            <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                                Group 2 International school in
                                Thailand
                            </span>
                        </b>
                    </p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt">
                        <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            - GPA from grade 10 to grade 12 /
                            year 11 to year 13 at a minimum of 3.00 or equivalent
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:38.0pt">
                        <b><i><span lang="TH" style="font-family:&quot;Angsana New&quot;,&quot;serif&quot;">- </span></i></b><span lang="TH" style="font-family:&quot;Angsana New&quot;,&quot;serif&quot;">&nbsp;</span><b>
                            <span style="font-family:
&quot;Verdana&quot;,&quot;sans-serif&quot;">IELTS UKVI</span>
                        </b><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            with a total score of no less than 7.0 and no less than 6.5 for each module
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:38.0pt">
                        <span lang="TH" style="font-family:
&quot;Angsana New&quot;,&quot;serif&quot;">-</span><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            Biomedical
                            Admissions Test (BMAT) score
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:38.0pt">
                        <span lang="TH" style="font-family:
&quot;Angsana New&quot;,&quot;serif&quot;">-</span><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            Graduated
                            or about to graduate from high schools
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt">
                        <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            - IGCSE of all subjects,*with “A” in
                            Biology and Chemistry and at least “B” in Mathematics or Physics
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt"><b><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">&nbsp;</span></b></p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt">
                        <b>
                            <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                                Group 3 International school from
                                oversea
                            </span>
                        </b>
                    </p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt">
                        <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            - GPA from grade 10 to grade 12 /
                            year 11 to year 13<span style="color:red"> </span>&nbsp;at a minimum of 3.00 or
                            equivalent <b><i>AND</i></b>
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt">
                        <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            - IGCSE of all subjects,*with “A” in
                            Biology and Chemistry and at least “B” in Mathematics or Physics
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:38.0pt">
                        <b><i><span lang="TH" style="font-family:&quot;Angsana New&quot;,&quot;serif&quot;">- </span></i></b><span lang="TH" style="font-family:&quot;Angsana New&quot;,&quot;serif&quot;">&nbsp;</span><b>
                            <span style="font-family:
&quot;Verdana&quot;,&quot;sans-serif&quot;">IELTS UKVI</span>
                        </b><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            with a total score of no less than 7.0 and no less than 6.5 for each module
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:38.0pt">
                        <span lang="TH" style="font-family:
&quot;Angsana New&quot;,&quot;serif&quot;">-</span><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            Biomedical
                            Admissions Test (BMAT) score
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:38.0pt">
                        <span lang="TH" style="font-family:
&quot;Angsana New&quot;,&quot;serif&quot;">-</span><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            Graduated
                            or about to graduate from high schools
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-left:.5in;line-height:15.0pt"><span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>

                    <p class="MsoNormal" style="line-height:15.0pt">
                        <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            * Before November, 2017, 5 subjects
                        </span>
                    </p>

                    <p class="MsoNormal" style="line-height:15.0pt">
                        <span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            * After&nbsp;&nbsp; November, 2017, 8 subjects
                        </span>
                    </p>

                    <p class="MsoNormal">&nbsp;</p>

                </div>
