<div class="WordSection1">

                                    <p class="MsoNormal" style="margin-top:12.0pt;margin-right:-28.9pt;margin-bottom:
                0in;margin-left:13.6pt;margin-bottom:.0001pt;text-indent:-13.6pt;line-height:
                90%">
                                        <b>
                                            <span style="font-size:18.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.2pt">
                                                1.<span style="font:7.0pt &quot;Times New Roman&quot;">
                                                    &nbsp;
                                                </span>
                                            </span>
                                        </b><b>
                                            <span lang="TH" style="font-size:18.0pt;line-height:90%;
                font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black;letter-spacing:-.2pt">
                                                คุณสมบัติเฉพาะของผู้มีสิทธิ์สมัคร
                                                (รับจากทุกจังหวัดทั่วประเทศ) ประจำปีการศึกษา 2561
                                            </span>
                                        </b>
                                    </p>

                                    <p class="1" style="margin-left:31.5pt;text-align:justify;text-justify:inter-cluster;
                text-indent:-.25in;line-height:90%">
                                        <span style="font-size:16.0pt;line-height:
                90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black;letter-spacing:-.3pt;
                font-weight:normal">4.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.3pt;font-weight:normal">สัญชาติไทย อายุไม่ต่ำกว่า</span><span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.3pt;font-weight:normal">
                                            17 <span lang="TH">
                                                ปีบริบูรณ์
                                            </span>
                                        </span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:
                &quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:blue;letter-spacing:-.3pt">
                                            นับถึงวันที่ 31
                                            สิงหาคม 25
                                        </span><span style="font-size:16.0pt;line-height:90%;font-family:
                &quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:blue;letter-spacing:-.3pt">
                                            6<span lang="TH">
                                                1
                                                (เกิดก่อนวันที่ 31 สิงหาคม 2544)
                                            </span>
                                        </span>
                                    </p>

                                    <p class="1" style="margin-left:31.5pt;text-align:justify;text-justify:inter-cluster;
                text-indent:-.25in;line-height:90%">
                                        <span style="font-size:16.0pt;line-height:
                90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black;font-weight:normal">4.2<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;font-weight:normal">สำเร็จการศึกษาระดับชั้นมัธยมศึกษาปีที่</span><span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;font-weight:normal">6</span><span lang="TH" style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black">หรือ</span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;font-weight:normal">เทียบเท่า</span><span style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black;
                font-weight:normal">&nbsp;</span><span lang="TH" style="font-size:16.0pt;line-height:
                90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black">หรือ</span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;font-weight:normal">กำลังศึกษาในชั้นมัธยมศึกษาปีที่</span><span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;font-weight:normal">
                                            6 <span lang="TH">
                                                และจะสำเร็จการศึกษาในปีการศึกษานี้&nbsp;
                                                โดยจำแนกรายละเอียด ดังนี้
                                            </span>
                                        </span>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:81.0pt;text-align:justify;text-justify:
                inter-cluster;text-indent:-49.5pt;line-height:90%">
                                        <b>
                                            <span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.2pt">กลุ่มที่&nbsp;</span>
                                        </b><b>
                                            <span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.2pt">1&nbsp;&nbsp;</span>
                                        </b><b>
                                            <span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.5pt">สำเร็จการศึกษาระดับชั้นมัธยมศึกษาปีที่</span>
                                        </b><b>
                                            <span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.5pt">
                                                6<span lang="TH">
                                                    หรือเทียบเท่า
                                                    หรือกำลังศึกษาในชั้นมัธยมศึกษาปีที่
                                                </span>6
                                            </span>
                                        </b><b>
                                            <span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black">
                                                <span lang="TH">
                                                    และจะสำเร็จการศึกษาในปีการศึกษานี้ สายวิทยาศาสตร์ -
                                                    คณิตศาสตร์
                                                </span>
                                            </span>
                                        </b><span lang="TH" style="font-size:16.0pt;line-height:
                90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black">
                                            <b>
                                                ตามหลักสูตรกระทรวงศึกษาธิการ&nbsp;
                                            </b>โดยมีเงื่อนไขดังนี้
                                        </span>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:94.5pt;text-indent:-13.5pt;line-height:
                90%">
                                        <span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                letter-spacing:-.2pt">
                                            1)<span style="font:7.0pt &quot;Times New Roman&quot;">
                                                &nbsp;&nbsp;
                                            </span>
                                        </span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:
                &quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;letter-spacing:-.2pt">
                                            มีคะแนนเฉลี่ยสะสมตั้งแต่ชั้นมัธยมศึกษาปีที่
                                        </span><span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                letter-spacing:-.2pt">4<span lang="TH">ถึงชั้นมัธยมศึกษาปีที่ </span>5&nbsp;<span lang="TH">ไม่ต่ำกว่า&nbsp; </span>3.00</span><span style="font-size:16.0pt;line-height:
                90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;"></span>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:94.5pt;line-height:90%"><span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">(<span lang="TH">ถ้าสำเร็จการศึกษาแล้วให้คิดคะแนนเฉลี่ยสะสมทั้งหมด</span>)</span></p>

                                    <p class="MsoNormal" style="margin-left:94.5pt;text-align:justify;text-justify:
                inter-cluster;text-indent:-13.5pt;line-height:90%">
                                        <span style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;letter-spacing:-.2pt">2)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.2pt">ผ่านการทดสอบความสามารถทางภาษาอังกฤษ</span><span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.2pt">
                                            (IELTS – The International English&nbsp; Language
                                            Testing System) Academic
                                        </span><b>
                                            <span style="font-size:16.0pt;line-height:
                90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:red;letter-spacing:-.2pt">(UKVI)</span>
                                        </b><b>
                                            <span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.2pt"></span>
                                        </b><span lang="TH" style="font-size:
                16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black">
                                            อย่างน้อยระดับ
                                        </span><span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black">
                                            7.00 <span lang="TH">
                                                โดยแต่ละทักษะ <span style="letter-spacing:-.2pt">
                                                    (ฟัง-พูด-อ่าน-เขียน)
                                                    จะต้องไม่ต่ำกว่าระดับ 6.5<b> </b>
                                                </span>
                                            </span>
                                        </span><b>
                                            <span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:red;letter-spacing:-.2pt">ทั้งนี้ผลคะแนนต้องมีอายุเหลือไม่น้อยกว่า</span>
                                        </b><b>
                                            <span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:red">6 เดือน นับจากวันปิดรับสมัคร</span>
                                        </b>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:94.5pt;text-align:justify;text-justify:
                inter-cluster;text-indent:-13.5pt;line-height:90%">
                                        <span style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;letter-spacing:-.2pt">3)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.2pt">ผลสอบ</span><span style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black;
                letter-spacing:-.2pt">Biomedical Admissions Test (BMAT)</span><b>
                                            <span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:red;letter-spacing:-.2pt">
                                                ทั้งนี้ผลสอบมีอายุไม่เกิน 2 ปี
                                                นับจากวันที่ทดสอบจนถึงวันสอบสัมภาษณ์
                                            </span>
                                        </b>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:81.0pt;text-align:justify;text-justify:
                inter-cluster;line-height:90%">
                                        <span style="font-size:16.0pt;line-height:90%;
                font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black;letter-spacing:-.2pt">&nbsp;</span>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:81.0pt;text-align:justify;text-justify:
                inter-cluster;text-indent:-49.5pt;line-height:90%">
                                        <b><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">กลุ่มที่&nbsp; </span></b><b>
                                            <span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                                2&nbsp;&nbsp; <span lang="TH">
                                                    สำเร็จการศึกษาจากโรงเรียนนานาชาติในประเทศไทย<span style="color:black"> </span>หรือกำลังศึกษาในโรงเรียนนานาชาติ<span style="letter-spacing:-.6pt">
                                                        ในประเทศไทย<span style="color:black"> </span>เทียบเท่าระดับชั้นมัธยมศึกษาปีที่
                                                    </span>
                                                </span><span style="letter-spacing:-.6pt">6<span lang="TH">&nbsp; <span style="color:black">ที่ได้รับการเปรียบเทียบหลักสูตรวิทยาศาสตร์</span></span></span><span lang="TH" style="color:black">และคณิตศาสตร์ที่สามารถเข้าศึกษาในคณะแพทยศาสตร์ได้จากกระทรวงศึกษาธิการ</span>
                                            </span>
                                        </b><span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                            &nbsp;
                                            <span lang="TH">โดยมีเงื่อนไขดังนี้</span>
                                        </span>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:94.5pt;text-align:justify;text-justify:
                inter-cluster;text-indent:-13.5pt;line-height:90%">
                                        <span style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">1)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                letter-spacing:-.4pt">
                                            มีคะแนนเฉลี่ยสะสมตั้งแต่เกรด 10 ถึง เกรด 11 หรือ เกรด 12
                                            (เทียบเท่า
                                        </span><span lang="TH" style="font-size:16.0pt;line-height:90%;
                font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;letter-spacing:-.2pt">
                                            ระดับชั้นมัธยมศึกษาปีที่
                                        </span><span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                letter-spacing:-.2pt">4</span><span lang="TH" style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                            ถึงชั้นมัธยมศึกษาปีที่
                                        </span><span style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                            5<span lang="TH"> หรือ มัธยมศึกษาปีที่ 6) ไม่ต่ำกว่า </span>3.00 <span lang="TH">
                                                จากระบบคะแนนเต็ม
                                            </span>4 <span lang="TH">หรือ เทียบเท่า </span>(<span lang="TH">ถ้าสำเร็จการศึกษาแล้วให้คิดคะแนนเฉลี่ยสะสมทั้งหมด</span>)<b>
                                            </b>
                                        </span>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:94.5pt;text-align:justify;text-justify:
                inter-cluster;text-indent:-13.5pt;line-height:90%">
                                        <span style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">2)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black">ผ่านการทดสอบความสามารถทางภาษาอังกฤษ</span><span style="font-size:
                16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black">
                                            (IELTS
                                            – The International English&nbsp; <span style="letter-spacing:-.2pt">
                                                Language
                                                Testing System)<b> </b>Academic
                                            </span>
                                        </span><b>
                                            <span style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:red;letter-spacing:
                -.2pt">(UKVI)</span>
                                        </b><span lang="TH" style="font-size:16.0pt;line-height:90%;
                font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black;letter-spacing:-.2pt">
                                            อย่างน้อยระดับ
                                        </span><span style="font-size:16.0pt;line-height:90%;font-family:
                &quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black;letter-spacing:-.2pt">7.00&nbsp;<span lang="TH">โดยแต่ละทักษะ </span></span><span lang="TH" style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black">
                                            (ฟัง-พูด-อ่าน-เขียน)
                                            จะต้องไม่ต่ำกว่าระดับ 6.5
                                        </span><span style="font-size:16.0pt;line-height:90%;
                font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black">&nbsp;</span><b>
                                            <span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:red">
                                                ทั้งนี้ผลคะแนนต้องมีอายุเหลือไม่น้อยกว่า 6 เดือน
                                                นับจากวันปิดรับสมัคร
                                            </span>
                                        </b>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:94.5pt;text-align:justify;text-justify:
                inter-cluster;text-indent:-13.5pt;line-height:90%">
                                        <span style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">3)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:black;letter-spacing:-.2pt">ผลสอบ</span><span style="font-size:16.0pt;
                line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:black;
                letter-spacing:-.2pt">Biomedical Admissions Test (BMAT)</span><b>
                                            <span lang="TH" style="font-size:16.0pt;line-height:90%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:red;letter-spacing:-.2pt">
                                                ทั้งนี้ผลสอบมีอายุไม่เกิน 2 ปี
                                                นับจากวันที่ทดสอบจนถึงวันสอบสัมภาษณ์
                                            </span>
                                        </b>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:94.5pt;text-align:justify;text-justify:
                inter-cluster;text-indent:-13.5pt;line-height:96%">
                                        <span style="font-size:16.0pt;
                line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">4)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                            หนังสือยืนยันจากสถานศึกษาที่กำลังศึกษาอยู่โดยระบุว่า<b>
                                                หากผ่านการสอบคัดเลือกจะสามารถเข้าเรียนในหลักสูตรนี้
                                                ได้เต็มเวลาตั้งแต่เดือนเมษายน 2561 เป็นต้นไป (<span style="color:black">เฉพาะ</span>ผู้ที่กำลังศึกษาอยู่)
                                            </b>
                                        </span>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:94.5pt;text-align:justify;text-justify:
                inter-cluster;text-indent:-13.5pt;line-height:96%">
                                        <span style="font-size:16.0pt;
                line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">5)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                            ในกรณีที่โรงเรียนของผู้สมัครไม่สามารถทำเรื่องการจบการศึกษาก่อนกำหนด
                                        </span><span style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                            (early
                                            graduation) <span lang="TH">ได้ ผู้สมัครต้องยื่นผลการสอบ </span>International
                                            General Certificate of Secondary Education (IGCSE)<span lang="TH">
                                                <span style="letter-spacing:-.2pt">
                                                    ทุกรายวิชา เพื่อตรวจสอบการเทียบวุฒิการศึกษา
                                                    ทั้งนี้
                                                </span>ระบุคะแนนสอบใน 3 รายวิชา คือ
                                            </span><b>
                                                Biology,<span lang="TH"> </span>Chemistry
                                                <span lang="TH">และ</span> Mathematics <span lang="TH">หรือ </span>Physics&nbsp; <span lang="TH">โดยจะต้องมีคะแนนในวิชา </span>Biology<span style="letter-spacing:-.2pt">
                                                    <span lang="TH">และ </span>
                                                </span>Chemistry<span style="letter-spacing:-.2pt"> <span lang="TH">ไม่ต่ำกว่า </span>A <span lang="TH">และวิชาอื่นไม่ต่ำกว่า </span>B</span>
                                            </b>
                                        </span>
                                    </p>

                                    <p class="MsoNormal" style="margin-left:81.0pt;text-align:justify;text-justify:
                inter-cluster;text-indent:-49.5pt;line-height:96%">
                                        <b><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">กลุ่มที่&nbsp; 3</span></b><b>
                                            <span style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                                &nbsp;&nbsp; <span lang="TH">
                                                    สำเร็จการศึกษาจากโรงเรียนมัธยมศึกษาในต่างประเทศเทียบเท่าระดับชั้นมัธยมศึกษาปีที่
                                                </span>6<span lang="TH"> ในสาขาวิทยาศาสตร์และคณิตศาสตร์</span>
                                            </span>
                                        </b><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                            โดยมีเงื่อนไขดังนี้
                                        </span>
                                    </p>

                                    <p class="1" style="margin-left:94.5pt;text-align:justify;text-justify:inter-cluster;
                text-indent:-13.5pt;line-height:96%">
                                        <span style="font-size:16.0pt;line-height:
                96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;font-weight:normal">1)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                letter-spacing:-.4pt;font-weight:normal">
                                            มีคะแนนเฉลี่ยสะสมตั้งแต่เกรด 10 ถึง
                                            เกรด 11 หรือ เกรด 12 (เทียบเท่า
                                        </span><span lang="TH" style="font-size:16.0pt;
                line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;letter-spacing:-.2pt;
                font-weight:normal">ระดับชั้นมัธยมศึกษาปีที่</span><span style="font-size:
                16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;letter-spacing:
                -.2pt;font-weight:normal">4<span lang="TH">ถึงชั้นมัธยมศึกษาปีที่ </span>5<span lang="TH"> หรือ มัธยมศึกษาปีที่ 6</span></span><span lang="TH" style="font-size:
                16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;letter-spacing:
                -.4pt;font-weight:normal">)</span><span lang="TH" style="font-size:16.0pt;
                line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;letter-spacing:-.4pt">
                                        </span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                letter-spacing:-.4pt;font-weight:normal">&nbsp;ไม่ต่ำกว่า</span><span style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                letter-spacing:-.4pt;font-weight:normal">3.00<span lang="TH">จากระบบคะแนนเต็ม </span>4</span><span style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                font-weight:normal"><span lang="TH">หรือ เทียบเท่า</span></span>
                                    </p>

                                    <p class="1" style="margin-left:94.5pt;text-align:justify;text-justify:inter-cluster;
                text-indent:-13.5pt;line-height:96%">
                                        <span style="font-size:16.0pt;line-height:
                96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;font-weight:normal">2)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                font-weight:normal">ผ่านการทดสอบความสามารถทางภาษาอังกฤษ</span><span style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                font-weight:normal">(IELTS – The International English&nbsp;<span style="letter-spacing:-.2pt">Language Testing System) </span></span><span style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                letter-spacing:-.2pt">Academic<span style="color:red">(UKVI)</span><span lang="TH"> อย่างน้อยระดับ </span>7.00&nbsp;<span lang="TH">โดยแต่ละทักษะ</span></span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                            (ฟัง-พูด-อ่าน-เขียน) จะต้องไม่ต่ำกว่าระดับ 6.5 <span style="color:red">
                                                ทั้งนี้ผลคะแนนต้องมีอายุเหลือไม่น้อยกว่า
                                                6 เดือน นับจากวันปิดรับสมัคร
                                            </span>
                                        </span>
                                    </p>

                                    <p class="1" style="margin-left:94.5pt;text-align:justify;text-justify:inter-cluster;
                text-indent:-13.5pt;line-height:96%">
                                        <span style="font-size:16.0pt;line-height:
                96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;font-weight:normal">3)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                font-weight:normal">ผลสอบ</span><span style="font-size:16.0pt;line-height:
                96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;font-weight:normal">
                                            Biomedical
                                            Admissions Test (BMAT)
                                        </span><span lang="TH" style="font-size:16.0pt;line-height:
                96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;color:red">
                                            ทั้งนี้ผลสอบมีอายุไม่เกิน
                                            2 ปี นับจากวันที่ทดสอบจนถึงวันสอบสัมภาษณ์
                                        </span>
                                    </p>

                                    <p class="1" style="margin-left:94.5pt;text-align:justify;text-justify:inter-cluster;
                text-indent:-13.5pt;line-height:96%">
                                        <span style="font-size:16.0pt;line-height:
                96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;font-weight:normal">4)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                font-weight:normal">ใบเทียบวุฒิการศึกษา</span><span lang="TH" style="font-size:
                16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;"><span style="letter-spacing:-.2pt">ฉบับจริง </span></span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                font-weight:normal">ที่รับรองว่าเทียบวุฒิการศึกษาเท่าการศึกษาขั้นพื้นฐานตามหลักสูตรการศึกษาขั้นพื้นฐานที่ออกจาก<span style="letter-spacing:-.6pt">กระทรวง</span>ศึกษาธิการ</span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                color:red">หรือ</span>
                                    </p>

                                    <p class="1" style="margin-left:94.5pt;text-align:justify;text-justify:inter-cluster;
                text-indent:-13.5pt;line-height:96%">
                                        <span style="font-size:16.0pt;line-height:
                96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;font-weight:normal">5)<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                font-weight:normal">ผลการสอบ</span><span style="font-size:16.0pt;line-height:
                96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;font-weight:normal">
                                            International
                                            General Certificate of Secondary Education (IGCSE)<span lang="TH"> </span><br>
                                        </span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;;
                letter-spacing:-.2pt">ทุกรายวิชา เพื่อตรวจสอบการเทียบวุฒิการศึกษา ทั้งนี้</span><span lang="TH" style="font-size:16.0pt;line-height:96%;font-family:&quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                            ระบุคะแนนสอบใน
                                            3 รายวิชา คือ
                                        </span><span style="font-size:16.0pt;line-height:96%;font-family:
                &quot;TH SarabunPSK&quot;,&quot;sans-serif&quot;">
                                            Biology,<span lang="TH"> </span>Chemistry <span lang="TH">และ</span> Mathematics <span lang="TH">หรือ </span>Physics&nbsp; <span lang="TH">โดยจะต้องมีคะแนนในวิชา </span>Biology<span style="letter-spacing:-.2pt">
                                                <span lang="TH">และ </span>
                                            </span>Chemistry<span style="letter-spacing:-.2pt"> <span lang="TH">ไม่ต่ำกว่า </span>A <span lang="TH">และวิชาอื่นไม่ต่ำกว่า </span>B</span>
                                        </span>
                                    </p>

                                    <p class="MsoNormal">&nbsp;</p>

                                </div>
