<!-- Breadcrumbs Styles -->
<section class="irs-ip-breadcrumbs irs-bc-teacher">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h1 class="irs-bc-title">FAQ’s</h1>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumbs html -->
<section class="irs-ip-brdcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-right irs-bb-right">
                <ul class="list-inline irs-brdcrmb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#"> > </a></li>
                    <li><a class="active" href="#">FAQ’s</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="irs-ip-details irs-padb-svnty">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-12 col-lg-6 col-lg-offset-3 text-center clearfix">
                <div class="irs-ip-faq-ttl">
                    <h2>Frequently Asked Questions</h2>
                    <p>Most important frequently asked questions from students.</p>
                </div>
            </div>
            <div class="row irs-all-course-bb">
                <div class="col-lg-6">
                    <div class="irs-faq-title-one">
                        <h3>Undergraduate</h3>
                    </div>
                    <div class="irs-ip-faq-content-one">
                        <div class="irs-faq-content">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                How do I contact the University?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                What does the University's motto "Dominus Illuminatio Mea" mean?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                What is a DPhil?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headignFour">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                What are the term dates for this/next academic year?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headignFour">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headignFive">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                When was the University of Edu Hub founded?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headignFive">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="irs-faq-title-two">
                        <h3>Postgraduate</h3>
                    </div>
                    <div class="irs-ip-faq-content-two">
                        <div class="irs-faq-content">
                            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSix">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                How can I apply for a postgraduate course?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSeven">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                When do I apply for a postgraduate course?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingEight">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                Are postgraduates generally more employable? What is the average starting salary of a postgraduate?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseEight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEight">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingNine">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                Where do I send my supporting documents?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headignTen">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                What accommodation is offered to postgraduate students?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headignTen">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headignEleven">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                <i class="flaticon-signs-1 icon-1"></i>
                                                <i class="flaticon-signs-1 icon-2"></i>
                                                What accommodation is offered to postgraduate students?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headignEleven">
                                        <div class="panel-body">
                                            <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="irs-contact-form-ip text-center">
                        <h2>Didn’t find an answer yet?</h2>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputText1" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputText2" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="2" placeholder="Your Question"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default irs-button-styledark">Get Your Answer</button>
                        </form>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>