<section class="irs-campus" ng-controller="VideoController as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="irs-campus-title text-center">
                    <h1 translate="video.title"></h1>
                    <img class="img-responsive" src="../../../Content/images/resource/commitment-title-img.png" alt="commitment-title-img.png">
                </div>
            </div>
        </div>
        <div class="row irs-mrgnt">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 ">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper" id="main-video">
                    </div>
                    <!-- Add Pagination -->
                    <div class="irs-campus-ss swiper-pagination"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 irs-pad-zero">
                <div class="irs-campus-thumb2">
                    <iframe width="670" height="380" src="https://www.youtube.com/embed/fkIahwHMVJ0?autoplay=0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>