<section class="irs-client">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="irs-clients-title">
                    <h2>Our Alumni Work For</h2>
                </div>
                <img class="img-responsive" src="../../../Content/images/resource/commitment-title-img.png" alt="commitment-title-img.png">
            </div>
        </div>
        <div class="row irs-mrgnt">
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 clearfix animatedParent">
                <div class="irs-clients-thumb text-center animated growIn"><img class="img-responsive" src="../../../Content/images/clients/2.png" alt="2.png"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 clearfix animatedParent">
                <div class="irs-clients-thumb text-center animated growIn"><img class="img-responsive" src="../../../Content/images/clients/3.png" alt="3.png"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 clearfix animatedParent">
                <div class="irs-clients-thumb text-center animated growIn"><img class="img-responsive" src="../../../Content/images/clients/1.png" alt="4.png"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 clearfix animatedParent">
                <div class="irs-clients-thumb text-center animated growIn"><img class="img-responsive" src="../../../Content/images/clients/4.png" alt="5.png"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 clearfix animatedParent">
                <div class="irs-clients-thumb text-center animated growIn"><img class="img-responsive" src="../../../Content/images/clients/5.png" alt="6.png"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 clearfix animatedParent">
                <div class="irs-clients-thumb text-center animated growIn"><img class="img-responsive" src="../../../Content/images/clients/6.png" alt="1.png"></div>
            </div>
        </div>
    </div>
</section>