<section class="irs-commitment-one" ng-controller="CommitmentController as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="irs-commitment-title text-center">
                    <h2>Commitment to Education</h2>
                    <img class="img-responsive" src="../../../Content/images/resource/commitment-title-img.png" alt="commitment-title-img.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6" ng-repeat="c in commitments">
                <div class="animatedParent">
                    <div class="{{c.columnCss}} {{c.style}} {{c.alignment}} animated growIn delay-250">
                        <div class="irs-cmmt-icon"><span class="{{c.iconCss}}"></span></div>
                        <div class="{{c.commentCss}}">
                            <h3>{{c.title}}</h3>
                            <p>{{c.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-xs-12 col-sm-12 col-md-6">
                <div class="animatedParent">
                    <div class="irs-commtmnt-column style_one text-left animated growIn delay-250">
                        <div class="irs-cmmt-icon"><span class="flaticon-clothes"></span></div>
                        <div class="irs-cmmt-details">
                            <h3>Four Year Graduation Guarantee</h3>
                            <p>By enrolling in the Four Bear Program, we guarantee you will graduate in four years with a bachelor’s degree.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="animatedParent">
                    <div class="irs-commtmnt-column2 text-right animated growIn delay-250">
                        <div class="irs-cmmt-icon"><span class="flaticon-signs"></span></div>
                        <div class="irs-cmmt-details2">
                            <h3>Best Value</h3>
                            <p>A top 100 university based on research, service and social mobility, according to Washington Monthly.</p>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="col-xs-12 col-sm-12 col-md-6">
                <div class="animatedParent">
                    <div class="irs-commtmnt-column text-left animated growIn delay-500">
                        <div class="irs-cmmt-icon"><span class="flaticon-school"></span></div>
                        <div class="irs-cmmt-details">
                            <h3>Small Class Sizes</h3>
                            <p>76% of all undergraduate classes have fewer than 30 students so there´s plenty of room for everyone.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="animatedParent">
                    <div class="irs-commtmnt-column2 text-right animated growIn delay-500">
                        <div class="irs-cmmt-icon"><span class="flaticon-art"></span></div>
                        <div class="irs-cmmt-details2">
                            <h3>Extraordinary Faculty</h3>
                            <p>World-renowned researchers provide personal attention, with a 19:1 student-to-faculty ratio.</p>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>