<section class="irs-commitment-one" ng-controller="CommitmentController as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="irs-commitment-title text-center">
                    <h2><span translate="commitments.title"></span></h2>
                    <img class="img-responsive" src="../../../Content/images/resource/commitment-title-img.png" alt="commitment-title-img.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6" ng-repeat="c in commitments">
                <div class="animatedParent">
                    <div class="{{c.columnCss}} {{c.style}} {{c.alignment}} animated growIn delay-250">
                        <div ng-hide="c.isImgContent">
                            <div class="irs-cmmt-icon"><span class="{{c.iconCss}}"></span></div>
                            <div class="{{c.commentCss}}">
                                <h2>{{c.title}}</h2>
                                <h4>{{c.description}}</h4>
                            </div>
                        </div>
                        <div ng-show="c.isImgContent">
                            <div class="irs-cmmt-details2">
                                <img src="../../../Content/images/home/objective.png" style="height:160px; width:auto;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>