<section class="irs-event" ng-controller="EventController as vm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-3 col-lg-offset-1">
                <div class="irs-econtent-details">
                    <div class="irs-event-title">
                        <h2 translate="event.title"></h2>
                    </div>
                    <div class="irs-epara">
                        <p translate="event.description"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="irs-event-carousel">
                    <!--
                    <div class="item">
                        <div class="irs-event-grid">
                            <div class="irs-evnt-thumb"><img class="img-responsive img-fluid" src="../../../Content/images/event/1.jpg" alt="1.jpg"></div>
                            <div class="irs-edetails irs-ext-pad2">
                                <div class="irs-ettl">
                                    <h4>Music in the University Lunch time Concert</h4>
                                </div>
                                <div class="irs-edate-time">
                                    <ul class="list-unstyled">
                                        <li><a href="#"><span class="flaticon-clock text-thm2"></span> Date: Thu, 19 Feb 2017 </a></li>
                                        <li><a href="#"><span class="flaticon-clock-1 text-thm2"></span> Time: 13:10 - 14:00 </a></li>
                                        <li><a href="#"><span class="flaticon-buildings text-thm2"></span> Venue: Hall B </a></li>
                                    </ul>
                                    <div class="irs-evnticon"><span class="flaticon-cross"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="irs-event-grid">
                            <div class="irs-edetails irs-ext-pad">
                                <div class="irs-ettl">
                                    <h4>War and Medicine- Lunchtime Talks Series</h4>
                                </div>
                                <div class="irs-edate-time">
                                    <ul class="list-unstyled">
                                        <li><a href="#"><span class="flaticon-clock text-thm2"></span> Date: Thu, 19 Feb 2017 </a></li>
                                        <li><a href="#"><span class="flaticon-clock-1 text-thm2"></span> Time: 13:10 - 14:00 </a></li>
                                        <li><a href="#"><span class="flaticon-buildings text-thm2"></span> Venue: Hall B </a></li>
                                    </ul>
                                    <p>On the last Friday of every month at lunchtime (13.00) there will be a series of talks examining the effect of the First World War on medicine. </p>
                                    <div class="irs-evnticon"><span class="flaticon-cross"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="irs-event-grid">
                            <div class="irs-evnt-thumb"><img class="img-responsive img-fluid" src="../../../Content/images/event/2.jpg" alt="2.jpg"></div>
                            <div class="irs-edetails irs-ext-pad2">
                                <div class="irs-ettl">
                                    <h4>EU copyright reform: the case for a related right for press </h4>
                                </div>
                                <div class="irs-edate-time">
                                    <ul class="list-unstyled">
                                        <li><a href="#"><span class="flaticon-clock text-thm2"></span> Date: Thu, 14 Feb 2017 </a></li>
                                        <li><a href="#"><span class="flaticon-clock-1 text-thm2"></span> Time: 13:10 - 14:00 </a></li>
                                        <li><a href="#"><span class="flaticon-buildings text-thm2"></span> Venue: Hall A </a></li>
                                    </ul>
                                    <div class="irs-evnticon"><span class="flaticon-cross"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="irs-event-grid">
                            <div class="irs-evnt-thumb"><img class="img-responsive img-fluid" src="../../../Content/images/event/1.jpg" alt="1.jpg"></div>
                            <div class="irs-edetails irs-ext-pad2">
                                <div class="irs-ettl">
                                    <h4>Music in the University Lunch time Concert</h4>
                                </div>
                                <div class="irs-edate-time">
                                    <ul class="list-unstyled">
                                        <li><a href="#"><span class="flaticon-clock text-thm2"></span> Date: Thu, 19 Feb 2017 </a></li>
                                        <li><a href="#"><span class="flaticon-clock-1 text-thm2"></span> Time: 13:10 - 14:00 </a></li>
                                        <li><a href="#"><span class="flaticon-buildings text-thm2"></span> Venue: Hall B </a></li>
                                    </ul>
                                    <div class="irs-evnticon"><span class="flaticon-cross"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>