<div class="irs-main-slider">
    <div class="item">
        <div class="caption animatedParent">
            <div class="irs-text-one animated fadeInnUp delay-250">
                Receive a world-class <br>
                education in the heart of <br>
                the west.
            </div>
            <div class="irs-text-three animated fadeInnUp delay-500">
                <p>Top rated for combining academic quality and outdoor reacreation.</p>
            </div>
            <a href="#" class="btn btn-lg irs-btn-thm irs-home-btn animated fadeInUp delay-750"> <span> Register Today</span> </a> <a href="#" class="btn btn-lg irs-btn-thm2 irs-home-btn animated fadeInUp delay-1000"> <span> Check Courses</span> </a>
        </div>
        <img class="img-responsive" src="../../../Content/images/home/h1.jpg" alt="h1.jpg">
    </div>
    <div class="item">
        <div class="caption animatedParent">
            <div class="irs-text-one animated fadeInUp delay-1250">
                Want to experience how life is <br>
                on our campus?
            </div>
            <div class="irs-text-three animated fadeInUp delay-1500">
                <p>Learning Resources Centre, a student social space.</p>
            </div>
            <a href="#" class="btn btn-lg irs-btn-thm irs-home-btn animated fadeInUp delay-1750"> <span> Check Courses</span> </a>
        </div>
        <img class="img-responsive" src="../../../Content/images/home/h2.jpg" alt="h2.jpg">
    </div>
    <div class="item">
        <div class="caption three text-center animatedParent">
            <div class="irs-text-one animated fadeInUp delay-2000">
                Make a bold decision today <br>
                and start a new fresh tomorrow.
            </div>
            <div class="irs-text-three animated fadeInUp delay-2250">
                <p>Top rated for combining academic quality and outdoor reacreation.</p>
            </div>
            <a href="#" class="btn btn-lg irs-btn-thm irs-home-btn animated fadeInUp delay-2250"> <span> Register Today</span> </a> <a href="#" class="btn btn-lg irs-btn-thm irs-home-btn animated fadeInUp delay-2750"> <span> Check Courses</span> </a>
        </div>
        <img class="img-responsive" src="../../../Content/images/home/h3.jpg" alt="h3.jpg">
    </div>
</div>
<script>
    // Owl-News-carousel
    if ($('.irs-main-slider').length) {
        $('.irs-main-slider').owlCarousel({
            autoplay: 5000,
            loop: true,
            margin: 0,
            dots: false,
            nav: false,
            autoplayHoverPause: false,
            autoplay: true,
            autoHeight: false,
            smartSpeed: 2000,
            navText: [
              '<i class=""></i>',
              '<i class=""></i>'
            ],
            responsive: {
                0: {
                    items: 1,
                    center: false
                },
                480: {
                    items: 1,
                    center: false
                },
                600: {
                    items: 1,
                    center: false
                },
                768: {
                    items: 1
                },
                992: {
                    items: 1
                },
                1200: {
                    items: 1
                }
            }
        })
    }
</script>