<section class="irs-register">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="irs-register-counter">
                    <h1 class="fz-extre-lagre">Learn outside of the classroom</h1>
                    <p>
                        You can work in labs on and off campus or in the wild of Montana, or even <br>
                        spend semesters overseas.
                    </p>
                    <div class="irs-flip-clock">
                        <div class="clock" style="margin:2em;"></div>
                        <div class="message"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 text-center irs-padzero">
                <div class="irs-register-form text-center">
                    <div class="irs-form-header">
                        <span class="irs-re-icon fz-extre-lagre flaticon-pencil"></span>
                        <h3>Exam Registration for INDE 201: Practice of Medicine I (Final)</h3>
                    </div>
                    <div class="irs-form">
                        <form>
                            <div class="form-group">
                                <input class="form-control" id="studentId" placeholder="STUDENT ID">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="name" placeholder="CHANSAK KOCHASEN">
                            </div>
                            <button class="btn btn-default irs-button-styledark">Register Today</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function flip_Clock() {
        var clock;
        var clock;
        clock = $('.clock').FlipClock({
            clockFace: 'DailyCounter',
            autoStart: false,
            callbacks: {
                stop: function () {
                    $('.message').html('The clock has stopped!')
                }
            }
        });

        clock.setTime(8220880);
        clock.setCountdown(true);
        clock.start();
    }
    this.flip_Clock();
</script>