<div class="clearfix">
    <div class="row">
        <div class="irs-blog-post-title">
            <h3>Category Management</h3>
        </div>
    </div>
    <div class="row">
        <div class="irs-cdetails-tab">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a data-target="#course" aria-controls="course" role="tab" data-toggle="tab">Course category</a></li>
                <li role="presentation"><a data-target="#research" aria-controls="research" role="tab" data-toggle="tab">Research category</a></li>
                <li role="presentation"><a data-target="#forum" aria-controls="forum" role="tab" data-toggle="tab">Forum category</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="course">
                    <div class="row">
                        <button type="button" class="btn btn-link pull-left" ng-click="addNew1()"><span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span> Add</button>
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr class="style2">
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody class="irs-table-body style2">
                                <tr ng-repeat="c in displayCourse">
                                    <th><a href="" ng-click="edit1(c.id)">{{c.title}}</a></th>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="list-inline irs-ip-navigation clearfix">
                            <li><span class="flaticon-arrows" ng-click="prev1()"></span></li>
                            <li ng-repeat="number in []|range:totalPageNumber1" ng-click="changePage1($index)"><a ng-class="{active:number == currentPage1}">{{$index+1}}</a></li>
                            <li><span class="flaticon-arrows-1" ng-click="next1()"></span></li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="research">
                    <div class="row">
                        <button type="button" class="btn btn-link pull-left" ng-click="addNew2()"><span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span> Add</button>
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr class="style2">
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody class="irs-table-body style2">
                                <tr ng-repeat="c in displayResearch">
                                    <th><a href="" ng-click="edit2(c.id)">{{c.title}}</a></th>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="list-inline irs-ip-navigation clearfix">
                            <li><span class="flaticon-arrows" ng-click="prev2()"></span></li>
                            <li ng-repeat="number in []|range:totalPageNumber2" ng-click="changePage2($index)"><a ng-class="{active:number == currentPage2}">{{$index+1}}</a></li>
                            <li><span class="flaticon-arrows-1" ng-click="next2()"></span></li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="forum">
                    <div class="row">
                        <button type="button" class="btn btn-link pull-left" ng-click="addNew3()"><span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span> Add</button>
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr class="style2">
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody class="irs-table-body style2">
                                <tr ng-repeat="c in displayForum">
                                    <th><a href="" ng-click="edit3(c.id)">{{c.title}}</a></th>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="list-inline irs-ip-navigation clearfix">
                            <li><span class="flaticon-arrows" ng-click="prev3()"></span></li>
                            <li ng-repeat="number in []|range:totalPageNumber3" ng-click="changePage3($index)"><a ng-class="{active:number == currentPage3}">{{$index+1}}</a></li>
                            <li><span class="flaticon-arrows-1" ng-click="next3()"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
