<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <form id="form" name="form">
        <div class="form-group">
            <label class="col-2 col-form-label">Name EN:</label>
            <input type="text" class="form-control" id="name_en" ng-model="course.name_en" placeholder="Enter course name" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="col-2 col-form-label">Name TH:</label>
            <input type="text" class="form-control" id="name_th" ng-model="course.name_th" placeholder="Enter course name" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="col-2 col-form-label">Display image:</label>
            <input type="file" file-model="file" />
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="col-2 col-form-label">Category</label>
            <select name="role" id="role" ng-model="selectedCateogry" class="form-control" required>
                <option ng-repeat="r in categories" value="{{r.id}}">{{r.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-2 col-form-label">Language:</label>
            <input type="text" class="form-control" id="lang" ng-model="course.lang" placeholder="Enter language" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="col-2 col-form-label">Short Description:</label>
            <input type="text" class="form-control" id="shortDescription" ng-model="course.shortDescription" placeholder="Enter short description">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="col-2 col-form-label">Full Description:</label>
            <summernote id="course" ng-model="course.fullDescription"></summernote>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-danger pull-left" type="button" ng-click="delete(id)">Delete</button>
                    <button type="button" class="btn btn-default" ng-click="save()">Save</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>

            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#course').summernote({
            height: 400
        });
    });
</script>