<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <form id="form" name="form">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-2 col-form-label">Title EN:</label>
                    <input type="text" class="form-control" ng-model="news.title_en" placeholder="Title EN" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Description EN:</label>
                    <summernote id="textEditor-desc-en" ng-model="news.description_en"></summernote>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-2 col-form-label">Title TH:</label>
                    <input type="text" class="form-control" ng-model="news.title_th" placeholder="Title TH" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Description TH:</label>
                    <summernote id="textEditor-desc-th" ng-model="news.description_th"></summernote>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-2 col-form-label">Start Date:</label>
                    <input type="text" class="form-control" id="startDate" ata-date-format="mm/dd/yyyy" ng-model="displayStartDate" placeholder="Start Date" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Image:</label>
                    <input type="file" file-model="file" />
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-danger pull-left" type="button" ng-click="delete(id)">Delete</button>
                    <button class="btn btn-warning pull-right" type="button" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#startDate').datepicker();
        var options = {
            height: 150
        };
        $('#textEditor-desc-en').summernote(options);
        $('#textEditor-desc-th').summernote(options);
    });
</script>