<div class="clearfix">
    <div class="row">
        <div class="irs-blog-post-title">
            <h3>User Management</h3>
        </div>
    </div>
    <div class="row">
        <div class="irs-cdetails-tab">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a data-target="#list" aria-controls="list" role="tab" data-toggle="tab">All Users</a></li>
                <li role="presentation"><a data-target="#waiting" aria-controls="waiting" role="tab" data-toggle="tab">Waiting for approve</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="list">
                    <div class="row">
                        <button type="button" class="btn btn-link pull-left" ng-click="addNew()"><span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span> Add</button>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr class="irs-table-deading style2">
                                    <th>User Name</th>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th>Added</th>
                                </tr>
                            </thead>
                            <tbody class="irs-table-body style2">
                                <tr ng-repeat="u in displayUsers">
                                    <th><a href="" ng-click="edit(u.id)">{{u.userName}}</a></th>
                                    <th>{{u.firstName_en}} {{u.lastName_en}}</th>
                                    <td><a href="#"><span class="badge badge-success">{{u.displayRoleName}}</span></a><br></td>
                                    <td>Activated</td>
                                    <td>{{u.createdDate|date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="list-inline irs-ip-navigation clearfix">
                            <li><span class="flaticon-arrows" ng-click="prev()"></span></li>
                            <li ng-repeat="number in []|range:totalPageNumber" ng-click="changePage($index)"><a ng-class="{active:number == currentPage}">{{$index+1}}</a></li>
                            <li><span class="flaticon-arrows-1" ng-click="next()"></span></li>
                        </ul>
                    </div>
                    <div class="row">
                        <form class="form form-inline" role="form">
                            <em>Badge explanation :</em>
                            <label><span class="badge badge-success">A</span> : Admin</label> |
                            <label><span class="badge badge-success">O</span> : Officer</label> |
                            <label><span class="badge badge-success">T</span> : Teacher</label> |
                            <label><span class="badge badge-success">S</span> : Student</label> |
                            <label><span class="badge badge-success">P</span> : Parent</label>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="waiting">
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr class="irs-table-deading style2">
                                    <th>User Name</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Registered</th>
                                </tr>
                            </thead>
                            <tbody class="irs-table-body style2">
                                <tr ng-repeat="u in waiting">
                                    <th><a href="" ng-click="approve(u.id)">{{u.userName}}</a></th>
                                    <td>{{u.firstName_en}} {{u.lastName_en}}</td>
                                    <td>{{u.email}}</td>
                                    <td>{{u.registrationDate|date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
