<div class="header-nav" ng-controller="NavController as vm">
    <div class="main-header-nav scrollingto-fixed irs-menu-style-one">
        <div class="container">
            <nav class="navbar navbar-default bootsnav irs-menu-style-one yellow">
                <div class="container irs-pad-zero">
                    <!--<div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
                        <a class="navbar-brand" ng-click="goToPage('app')"><img src="~/../Content/images/header-logo.png" class="logo" alt="header-logo.png"></a>
                    </div>-->
                    <div class="collapse navbar-collapse" id="navbar-menu-home">
                        <ul class="nav navbar-nav navbar-center">
                            <li><a ui-sref="app"><span ng-click="goToPage('app')" translate="menu.home"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span translate="menu.aboutUs"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="goToPage('committee-list-th')"><span translate="menu.committee_th"></span></a></li>
                                    <li><a href="#" ng-click="goToPage('committee-list-en')"><span translate="menu.committee_en"></span></a></li>
                                    <li><a href="#" ng-click="goToPage('teacher-list')"><span translate="menu.teacher"></span></a></li>
                                    <li><a href="#" ng-click="goToPage('alumni')"><span translate="menu.alumni"></span></a></li>
                                </ul>
                            </li>
                            <li><a href="#" ng-click="goToPage('qualification')"><span translate="menu.qualification"></span></a></li>
                            <!--<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span translate="menu.qualification"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="goToPage('qualification')"><span translate="menu.qualification"></span></a></li>
                                    <li><a href="#"><span translate="menu.studyplan"></span></a></li>
                                </ul>
                            </li>-->
                            <li><a href="https://survey-grad.swu.ac.th/" target="_blank" ><span translate="menu.assessment"></span></a></li>
                            <li><a href="#" ng-click="goToPage('board',2)"><span translate="menu.courses"></span></a></li>
                            <li><a href="#" ng-click="goToPage('board',3)"><span translate="menu.research"></span></a></li>
                            <li><a href="#" ng-click="goToPage('board',1)"><span translate="menu.board"></span></a></li>
                            <li class="dropdown"> <a href="#" ui-sref="faq"><span translate="menu.faq"></span></a></li>
                            <!--<li><a href="#"><span translate="menu.quicklink"></span></a></li>-->
                            <li class="dropdown"> <a href="#" ui-sref="contact"><span translate="menu.contact"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>