<div class="header-nav">
    <div class="main-header-nav scrollingto-fixed irs-menu-style-one">
        <div class="container">
            <nav class="navbar navbar-default bootsnav irs-menu-style-one yellow">
                <div class="container irs-pad-zero">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
                        <a class="navbar-brand" ui-sref="app"><img src="~/../Content/images/header-logo.png" class="logo" alt="header-logo.png"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-center">
                            <li><a ui-sref="app"><span translate="menu.home"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span translate="menu.aboutUs"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ui-sref="committee-list"><span translate="menu.committee"></span></a></li>
                                    <li><a href="#" ui-sref="teacher-list"><span translate="menu.teacher"></span></a></li>
                                </ul>
                            </li>
                            <li><a href="#" ui-sref="board({type:2})"><span translate="menu.courses"></span></a></li>
                            <li><a href="#" ui-sref="board({type:3})"><span translate="menu.research"></span></a></li>
                            <li><a href="#" ui-sref="board({type:1})"><span translate="menu.board"></span></a></li>
                            <li class="dropdown"> <a href="#" ui-sref="contact"><span translate="menu.contact"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>